<h1>{{restaurant.name}}</h1>
<img src="{{restaurant.image}}" alt="{{restaurant.name}}">
<p>類別: {{restaurant.category}}</p>
<p>地址: {{restaurant.location}}</p>
<p>電話: {{restaurant.phone}}</p>
<p>{{restaurant.description}}</p>
<a href="/">回首頁</a>